<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5TE9mCLaRNv6_d_W8ojJ2ruYNvIFkzcc</string>
	<key>GCM_SENDER_ID</key>
	<string>169711096126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timeTracker.timeTracker</string>
	<key>PROJECT_ID</key>
	<string>timetracker-83156</string>
	<key>STORAGE_BUCKET</key>
	<string>timetracker-83156.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169711096126:ios:522aac95f1358f2a4bdc6f</string>
</dict>
</plist>